- content_for :sidebar do

	%li
		= link_to tenant_path do
			Me
			%i.ec-user

	%li
		= link_to tenant_settings_path do
			Edit my profile
			%i.ec-cog

	%li
		= link_to tenant_building_path do
			Change building
			%i.ec-contract

	%li
		= link_to current_tenant do
			My issues
			%i.ec-list
