- content_for :sidebar do

	%li
		= link_to do
			Home
			%i.ec-user

	%li
		= link_to do
			Edit my profile
			%i.ec-cog

	%li
		= link_to do
			Add building
			%i.ec-contract

	%li
		= link_to do
			My issues
			%i.ec-list
