.row
	%div{class: "col-lg-12 heading"}
		%h1.page-header
			%i.ec-list
			Add a Building

.row
	.col-lg-12
		%div{class: "panel panel-default toggle"}
			.panel-heading
				%h3.panel-title

			.panel-body
				= render 'form'
