.row
	.col-lg-12
		- flash.each do |name, msg|
			%div{class: "alert alert-#{ name == 'alert' ? 'danger' : 'success' } fade in"}
				%button(type="button" class="close" data-dismiss="alert" aria-hidden="true")×
				= msg
