.container-fluid
	.navbar
		.navbar-header
			= link_to root_path, class: 'navbar-brand' do
				%i{class: "ec-bookmark text-logo-element animated bounceIn"}
				%span.text-logo Prop
				%span.text-slogan Man

		%nav.top-nav{role: 'navigation'}
			%ul{class: 'nav navbar-nav pull-right'}
				- if current_tenant
					= render 'tenants/navbar'
				- elsif current_manager
					= render 'managers/navbar'

	#header-area.fadeInDown
		.header-area-inner
