.sidebar-inner
	%ul{id: 'sideNav', class: 'nav nav-pills nav-stacked'}
		- if current_tenant
			= render 'tenants/sidebar'
		- elsif current_manager
			= render 'managers/sidebar'
		%form

.sidebar-panel
